@model Notes.App.ViewModels.Account.ChangePasswordViewModel

<form action="@Url.Action("ChangePassword","Account", new { Id = Model.Id })" method="post" novalidate id="changePasswordForm">
    <input type="hidden" id="Id" value="@Model.Id"/>
    <div class="form-group">
        <label for="Login">Логин</label>
        <input type="text" id="Login" class="form-control col-md-11" readonly value="@Model.Login" />
    </div>
    <div class="form-group">
        <label for="OldPassword">Старый пароль</label>
        <input type="password" id="OldPassword" class="form-control col-md-11" />
    </div>
    <div class="form-group">
        <label for="Password">Новый пароль</label>
        <input type="password" id="NewPassword" class="form-control col-md-11" />
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Подтверждение пароля</label>
        <input type="password" id="ConfirmPassword" class="form-control col-md-11" />
    </div>
    <div class="text-danger" id="save-error"></div>
</form>