
@{
    ViewBag.Title = "Log out";
}

<h2>Log out</h2>
<div class="">
    <span class="jumbotron-fluid">Thank you for using our application!!!</span><br/>
</div>
<div class=""><span class="jubmo-fluid">Good Bye</span></div>
<script>
window.setTimeout(function(){
window.location.href='/';
}, 4000);
</script>

