@model Notes.BLL.DTOModels.CategoryDTO

<h4>Категория</h4>
<div>     
    <p><span class="col-md-1">Id:</span><span> @Model.Id</span></p>
    <p><span class="col-md-1">@Html.DisplayNameFor(model=>model.Name)</span><span>@Model.Name</span></p>
</div>
